# Binaries for programs and plugins
lenslocked
*.exe
*.exe~
*.dll
*.so
*.dylib

# Our specific binary
lenslocked

# Images directory during development
images/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment variables
.env

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE files
__debug*
.vscode/

# Node
node_modules/
